.collection {
  margin-top: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 16px;

  padding-left: 15px;
  padding-right: 15px;

  max-width: 1280px;
}

.collection__item {
  list-style: none;
  width: 100%;
  transition: box-shadow 0.3s;
  float: left;
  border-radius: 5px;
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  @include tablet {
    width: calc((100% - 20px) / 2);
  }

  @include desktop {
    width: calc((100% - 40px) / 3);
  }
}

.card__image {
  width: 100%;
  border-radius: 5px;
}

.card-wrap {
  text-align: start;
  margin-top: 12px;
  margin-bottom: 32px;
  padding-left: 5px;
  font-weight: 500;

  @include mobile {
    font-size: 12px;
    line-height: 16px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
}

.card-wrap__link {
  text-decoration: none;
}

.card__genre {
  list-style: none;
  padding-top: 10px;
  margin-left: 0;
  padding-left: 0;
}

.card__title {
  text-transform: uppercase;
  color: black;
}

.card__data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #ff6b08;
}

.card__year {
  padding-left: 6px;
}

// pagination var Vlad Lysenko
.active {
  width: 40px;
  height: 40px;
  left: 620px;
  top: 2302px;
  color: white;
  background: #ff6b08;
  border-radius: 5px;
}
