.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
  // padding-top: 60px;
  padding-bottom: 60px;

  @include mobile {
    width: $mobile;
  }
  @include tablet {
    width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
  }
  @include desktop {
    width: $desktop;
  }
}
