@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body {
  background-color: white;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.dark-theme {
  background-color: rgb(97, 97, 97);
  color: #ffffff;
}

.backdrop-details {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.backdrop-details.hidden {
  opacity: 0;
  pointer-events: none;
}

.film-modal-content {
  padding: 16px 20px 46px 20px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.film-modal-content.dark {
  background-color: rgb(97, 97, 97);
}
@media screen and (max-width: 767.98px) {
  .film-modal-content {
    width: 80vw;
    max-width: 380px;
    height: 95%;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 768px) {
  .film-modal-content {
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .film-modal-content {
    width: 804px;
  }
}
.film-modal-content.open {
  transform: translate(-50%, -50%) scale(1.3);
}

.film-details-wrapper {
  margin-top: 18px;
}
@media screen and (min-width: 768px) {
  .film-details-wrapper {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .modal-img {
    width: 264px;
    height: 357px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-img {
    width: 375px;
    height: 478px;
  }
}

@media screen and (max-width: 767.98px) {
  .film-details {
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .film-details {
    width: 50%;
    margin-left: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .film-details {
    margin-left: 16px;
  }
}

.film-details__main-title {
  font-size: 20px;
  line-height: 1.15;
}

.details-list {
  margin-top: 20px;
}

.details-list__item {
  display: flex;
  align-items: center;
}
.details-list__item:not(:first-child) {
  margin-top: 8px;
}
.details-list__item:nth-child(3) > .details-list__information-2 {
  text-transform: uppercase;
}

.details-list_title {
  color: #8c8c8c;
  font-size: 12px;
  line-height: 1.33;
  width: 100px;
}

.details-list__information-1 {
  display: block;
  padding: 1px 10px;
  border-radius: 5px;
  color: white;
  background-color: #ff6b08;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
}

.details-list__information-2 {
  display: block;
  text-align: left;
  font-size: 14px;
  line-height: 1.16;
}

.film-details__secondary-title {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.16;
  text-transform: uppercase;
}

.film-details__about {
  margin-top: 8px;
}

.buttons-list {
  display: flex;
  margin-top: 20px;
}

.buttons-list__item:not(:first-child) {
  margin-left: 15px;
}

.backdrop-form {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.backdrop-form.form-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-modal {
  padding: 16px 20px 46px 20px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media screen and (max-width: 767.98px) {
  .form-modal {
    width: 80vw;
    max-width: 380px;
    height: 95%;
    overflow-y: scroll;
  }
}
@media screen and (min-width: 768px) {
  .form-modal {
    width: 704px;
  }
}
@media screen and (min-width: 1280px) {
  .form-modal {
    width: 804px;
  }
}
.form-modal.open {
  transform: translate(-50%, -50%) scale(1.3);
}

.login-Out.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.submit-signUp-btn {
  display: none;
}

.submit-login-btn {
  display: none;
}

.heder__mylibrary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: 44px;
  padding: 14px;
  background-color: inherit;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.heder__mylibrary-btn:not(:last-child) {
  margin-right: 20px;
}
.heder__mylibrary-btn.active-btn, .heder__mylibrary-btn:hover, .heder__mylibrary-btn:focus {
  border: transparent;
  background-color: #ff6b08;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}
@media screen and (min-width: 768px) {
  .heder__mylibrary-btn {
    min-width: 152px;
    padding: 13px;
  }
  .heder__mylibrary-btn:not(:last-child) {
    margin-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .heder__mylibrary-btn {
    min-width: 148px;
    height: 42px;
    padding: 12px;
  }
  .heder__mylibrary-btn:not(:last-child) {
    margin-right: 16px;
  }
}

.button {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 14px 10px 12px;
  cursor: pointer;
}

.main-button {
  border-color: transparent;
  color: white;
  background-color: #ff6b08;
  transition: box-shadow 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.main-button:hover, .main-button:focus {
  box-shadow: 0px 8px 22px rgba(255, 107, 1, 0.6);
}

.secondary-button {
  background-color: transparent;
  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1), background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1), border-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1), box-shadow 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.secondary-button:hover, .secondary-button:focus {
  color: white;
  background-color: #ff6b08;
  border-color: transparent;
  box-shadow: 0px 8px 22px rgba(255, 107, 1, 0.6);
}

.modal-icon-cross {
  display: block;
  padding: 0;
  margin-left: auto;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination__list {
  display: flex;
  padding: 8px;
}
.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.pagination__arrow {
  background-color: #F7F7F7;
}
.pagination__numb.active, .pagination__numb:hover, .pagination__numb:focus, .pagination__arrow:hover, .pagination__arrow:focus, .pagination__numb-first:hover, .pagination__numb-first:focus, .pagination__numb-last:hover, .pagination__numb-last:focus {
  background-color: #ff6b08;
}

.loader {
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.loader.is-hiden {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header__section {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 92px;
  padding-top: 42px;
  opacity: 0.9;
  background-image: url(../images/header-background-img-home/header-bcgrd-mobile1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header__section {
    background-image: url(../images/header-background-img-home/header-bcgrd-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header__section {
    padding-top: 40px;
    padding-bottom: 80px;
    background-image: url(../images/header-background-img-home/header-bcgrd-tablet1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header__section {
    background-image: url(../images/header-background-img-home/header-bcgrd-tablet2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header__section {
    background-image: url(../images/header-background-img-home/header-bcgrd-desktop1x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header__section {
    background-image: url(../images/header-background-img-home/header-bcgrd-desktop2x.jpg);
  }
}

.header__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), text-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header__logo-link:hover, .header__logo-link:focus {
  text-shadow: 0px 3px 3px #ffffff;
  transform: scale(1.1);
}

.header__logo-text {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__logo-text {
    display: block;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-left: 10px;
  }
}

.header__nav-wrap {
  display: flex;
}

.header__nav-list {
  display: flex;
  margin-left: auto;
  margin-top: 2px;
}

.header__nav-item {
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), text-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-item:last-child {
  margin-left: 40px;
}
.header__nav-item:hover, .header__nav-item:focus {
  text-shadow: 0px 3px 3px #ffffff;
  transform: scale(1.1);
}

.header__nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.header__home-wrap {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.toggle-theme {
  position: absolute;
  right: 0;
  bottom: 30;
  color: #ffffff;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6b08;
  border: none;
  border-radius: 5px;
  height: 30px;
  min-width: 70px;
  cursor: pointer;
  padding: 5px;
}
.toggle-theme:hover, .toggle-theme:focus {
  background-color: #f59133;
  box-shadow: 0px 8px 22px rgba(255, 107, 1, 0.6);
}
@media screen and (min-width: 768px) {
  .toggle-theme {
    bottom: 0;
  }
}

.header__search-form {
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 51px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  border-bottom: 0.5px solid rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .header__search-form {
    width: 336px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header__search-form {
    width: 394px;
  }
}

.header__input {
  width: 100%;
  height: 20px;
  color: #ffffff;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.header__input::-moz-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
}
.header__input:-ms-input-placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
}
.header__input::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14px;
}

.header__form-submit-btn {
  position: absolute;
  right: 1px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

.header__section--mylibrary {
  padding-bottom: 62px;
  padding-top: 42px;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: url(../images/header-background-img-mylibrary/mylibrary-mobile-x1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header__section--mylibrary {
    background-image: url(../images/header-background-img-mylibrary/mylibrary-mobile-x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .header__section--mylibrary {
    padding-top: 40px;
    padding-bottom: 60px;
    background-image: url(../images/header-background-img-mylibrary/mylibrary-tablet-x1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header__section--mylibrary {
    background-image: url(../images/header-background-img-mylibrary/mylibrary-tablet-x2.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .header__section--mylibrary {
    background-image: url(../images/header-background-img-mylibrary/mylibrary-desktop-x1.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header__section--mylibrary {
    background-image: url(../images/header-background-img-mylibrary/mylibrary-desktop-x2.jpg);
  }
}

.header__mylibrary {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 66px;
}
@media screen and (min-width: 768px) {
  .header__mylibrary {
    margin-top: 40px;
  }
}

.header__mylibrary-btn {
  min-width: 130px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.header__mylibrary-btn:last-child {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .header__mylibrary-btn:last-child {
    margin-left: 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__mylibrary-btn {
    min-width: 152px;
  }
}

.header__mylibrary .toggle-theme {
  bottom: 65;
}
@media screen and (min-width: 768px) {
  .header__mylibrary .toggle-theme {
    bottom: 15;
  }
}

.footer_box {
  background-color: #ffffff;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 30px 0 30px 0;
}

.footer_text {
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .footer_text {
    font-size: 16 px;
    line-height: 1.15;
  }
}

.footer_link {
  text-decoration: none;
}

.footer_link:hover,
.footer_link:focus {
  text-decoration: underline;
  color: #ff6b08;
}

.is-hidden {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  top: 8px;
  right: 8px;
}

.modal__icon {
  fill: #000000;
}

.meny__icon {
  fill: #000000;
}
.meny__icon:focus,
.meny__icon :hover {
  fill: #ff6b01;
}

.modal__footer {
  color: #000000;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
}

.vl {
  border-left: 1px solid #545454;
  height: 7px;
}

.collection {
  margin-top: 100px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  gap: 16px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1280px;
}

.collection__item {
  list-style: none;
  width: 100%;
  transition: box-shadow 0.3s;
  float: left;
  border-radius: 5px;
}
.collection__item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
@media screen and (min-width: 768px) {
  .collection__item {
    width: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .collection__item {
    width: calc((100% - 40px) / 3);
  }
}

.card__image {
  width: 100%;
  border-radius: 5px;
}

.card-wrap {
  text-align: start;
  margin-top: 12px;
  margin-bottom: 32px;
  padding-left: 5px;
  font-weight: 500;
}
@media screen and (min-width: 320px) {
  .card-wrap {
    font-size: 12px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .card-wrap {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
  }
}

.card-wrap__link {
  text-decoration: none;
}

.card__genre {
  list-style: none;
  padding-top: 10px;
  margin-left: 0;
  padding-left: 0;
}

.card__title {
  text-transform: uppercase;
  color: black;
}

.card__data {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #ff6b08;
}

.card__year {
  padding-left: 6px;
}

.active {
  width: 40px;
  height: 40px;
  left: 620px;
  top: 2302px;
  color: white;
  background: #ff6b08;
  border-radius: 5px;
}/*# sourceMappingURL=index.css.map */