// Fonts
$mainFont: 'Roboto', sans-serif;

// Text colors
$main-text-color: #000000;
$secondary-text-color: #ff6b08;
$header-text-color: #ffffff;
$filmDetails-text-color: #8c8c8c;
$footer-text-color: #545454;

//Bg colors
$mainBg-color: #ffffff;
$accentBg-color: #ff6b08;

$hover-focusBG-color: #ff6b08 ;
