<footer>
  <h2 class="is-hidden">footer</h2>
  <div class="footer_box container">
    <p class="footer_text">
      &copy; 2020 <span class="vl"></span> &nbsp; All Rights Reserved &nbsp;
      <span class="vl"></span>
    </p>
    <p class="footer_text">
      Developed with &nbsp;
      <svg class="icon-favorite" width="14" height="13">
        <use href="./images/sprite.svg#icon-favorite"></use>
      </svg>
      &nbsp;
      <span class="footer_text">by</span>
      <a data-modal-open class="footer_link footer_text" href="">
        GoIT Students
      </a>
    </p>
  </div>
</footer>

<div class="modal-footer is-hidden" data-modal>
  <div class="modal-footer__box">
    <button type="button" class="footer__button" data-modal-close>
      <svg class="footer__icon" width="30" height="30" aria-label="modal-close">
        <use
          class="footer-icon__close"
          href="./images/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>

    <section class="team-footer">
      <h2 class="team-footer__title">Smart Strategy</h2>
      <div class="team-footer__box">
        <ul class="list team-footer__list js-palette"></ul>
      </div>
    </section>
  </div>
</div>
