<footer>
  <h2 class="is-hidden">footer</h2>
  <div class="footer_box container">
    <p class="footer_text">
      &copy; 2020 <span class="vl"></span> &nbsp; All Rights Reserved &nbsp;
      <span class="vl"></span>
    </p>
    <p class="footer_text">
      Developed with &nbsp;
      <svg class="icon-favorite" width="14" height="13">
        <use href="./images/sprite.svg#icon-favorite"></use>
      </svg>
      &nbsp;
      <span class="footer_text">by</span>
      <a data-modal-open class="footer_link footer_text" href="">
        GoIT Students
      </a>
    </p>
  </div>
</footer>

<div class="modal-footer is-hidden" data-modal>
  <div class="modal-footer__box">
    <button type="button" class="footer__button" data-modal-close>
      <svg class="footer__icon" width="30" height="30" aria-label="modal-close">
        <use
          class="footer-icon__close"
          href="./images/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>

    <section class="team">
      <h2 class="team__title">Smart Strategy</h2>
      <div class="team-box">
        <ul class="list team__list js-palette">
          <!-- <li class="team__card">
            <img
              class="team__foto"
              src="./images/foto.jpg/me-foto-1.jpg"
              alt="foto Viunyk Daria"
            />
            <div class="about">
              <h3 class="footer-text__big">Viunyk Daria</h3>
              <p lang="en" class="footer-text__smol">Frontend Developer</p>
              <ul class="networks list">
                <li class="networks__list">
                  <a href="" class="networks__link">
                    <svg class="networks__icon" width="20" height="20">
                      <use href="./images/sprite.svg#icon-git-icon"></use>
                    </svg>
                  </a>
                </li>
                <li class="networks__list">
                  <a href="" class="networks__link">
                    <svg class="networks__icon" width="20" height="20">
                      <use href="./images/sprite.svg#icon-link-icon"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </li> -->
        </ul>
      </div>
    </section>
  </div>
</div>
