<footer>
  <div class="footer_box container">
    <h2 class="is-hidden"></h2>
    <p class="footer_text">
      &copy; 2020 <span class="vl"></span> &nbsp; All Rights Reserved &nbsp;
      <span class="vl"></span>
    </p>
    <p class="footer_text">
      Developed with &nbsp;
      <svg class="icon-favorite" width="14" height="13">
        <use href="./images/sprite.svg#icon-favorite"></use>
      </svg>
      &nbsp;
      <span class="footer_text">by</span>
      <a data-modal-open class="footer_link footer_text" href="">
        GoIT Students
      </a>
    </p>
  </div>
</footer>
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__button" data-modal-close>
      <svg class="meny__icon" width="30" height="30" aria-label="modal-close">
        <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__footer">Special-team</p>
  </div>
</div>
