<div class="backdrop-form form-hidden">
  <div class="form-modal">
    <button type="button" class="modal-form-btn">
      <svg class="cross-modal" width="10" height="10">
        <use href="./images/sprite.svg#icon-close_24px"></use>
      </svg>
    </button>
    <p class="form-title"></p>
    <form class="registr">
      <input class="name-input input" type="text" id="username" name="username" placeholder="Username" 
        type="text"
   name="name"
    pattern="^[a-zA-Zа-яА-Я]+(([' -][a-zA-Zа-яА-Я ])?[a-zA-Zа-яА-Я]*)*$"
  title="Name may contain only letters, apostrophe, dash and spaces. For example Adrian, Jacob Mercer, Charles de Batz de Castelmore d'Artagnan"
                   
      />
      <input class="input" type="text" id="email" name="email" placeholder="E-mail" autocomplete="username"/>
      <input class="input" type="password" id="password" name="password" placeholder="Password" autocomplete="current-password"/>

      <input type="submit" id='signIn' name="signIn" value="Sign up" class="submit-signUp-btn" />
      <input type="submit" id='login' name="login" value="Login" class="submit-login-btn" />
    </form>
  </div>
</div>
</body>
</div>
</div>
</div>