<div class="backdrop-form hidden">
  <div class="form-modal">
    <div id="login-box">
      <div class="left">
        <h1 id="status">login</h1>
        <input type="text" id="email" name="email" placeholder="E-mail" />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
        />

        <input type="submit" id="login" name="login" value="Login" />
      </div>

      <div class="right">
        <span class="loginwith">Sign in with<br />social network</span>

        <button class="social-signin facebook">Log in with facebook</button>
        <button class="social-signin twitter">Log in with Twitter</button>
        <button class="social-signin google">Log in with Google+</button>
      </div>
      <div class="or">OR</div>
    </div>
  </div>
</div>
