<div class="library container">
  <ul class="library__list">
    <li class="library__item"><a href="" class="library__link"></a></li>
    <li class="library__item"><a href="" class="library__link"></a></li>
    <li class="library__item"><a href="" class="library__link"></a></li>
    <li class="library__item"><a href="" class="library__link"></a></li>
    <li class="library__item"><a href="" class="library__link"></a></li>
    <li class="library__item"><a href="" class="library__link"></a></li>
    <li class="library__item"><a href="" class="library__link"></a></li>
    <li class="library__item"><a href="" class="library__link"></a></li>
    <li class="library__item"><a href="" class="library__link"></a></li>
  </ul>
</div>