//Library buttons
.heder__mylibrary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: 44px;
  padding: 14px;
  background-color: inherit;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  cursor: pointer;
  color: $header-text-color;
  border: 1px solid $header-text-color;
  &:not(:last-child) {
    margin-right: 20px;
  }

  &.active-btn,
  &:hover,
  &:focus {
    border: transparent;
    background-color: $secondary-text-color;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }

  @include tablet {
    min-width: 152px;
    padding: 13px;

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  @include desktop {
    min-width: 148px;
    height: 42px;
    padding: 12px;
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}

// modal btn
.button {
  display: block;
  font-size: 12px;
  line-height: 1.33;

  text-align: center;
  text-transform: uppercase;

  border-radius: 5px;

  padding: 14px 10px 12px;

  cursor: pointer;
}

.main-button {
  background-color: $accentBg-color;

  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover,
  &:focus {
    color: white;
    border-color: transparent;
    box-shadow: 0px 8px 22px rgba(255, 107, 1, 0.6);
  }
}

.secondary-button {
  background-color: $accentBg-color;

  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    border-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover,
  &:focus {
    color: white;
    border-color: transparent;
    box-shadow: 0px 8px 22px rgba(255, 107, 1, 0.6);
  }
}

.modal-icon-cross {
  display: block;
  padding: 0;
  margin-left: auto;
  border-color: transparent;
  background-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover,
  &:focus {
    transform: scale(1.2) rotate(90deg);
  }
}
// button Up
.btnUp {
  padding: 2rem 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  right: 2%;
  bottom: 5%;
  background-color: $secondary-text-color;
  border-radius: 3rem;
  transform: rotate(90deg);
  transition: all 0.3s linear;
  cursor: pointer;
  opacity: 1;
  z-index: 5;

  &__arrow {
    position: relative;
    background-color: white;
    width: 50px;
    height: 3px;
    border-radius: 1rem;
    transform-origin: right center;
    transition: all 0.3s linear;

    &::before {
      transform: rotate(-35deg);
    }
    &::after {
      transform: rotate(35deg);
    }

    &::before,
    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      background: white;
      width: 2rem;
      height: 3px;
      transform-origin: left;
      transition: all 0.3s linear;
      border-radius: 1rem;
    }
  }

  &:hover,
  &:focus {
    background-color: rgb(235, 136, 65);
    transform: scale(1.2) rotate(90deg);

    .arrow {
      &:before {
        transform: rotate(35deg);
      }
      &:after {
        transform: rotate(-35deg);
      }
    }
  }

  &.is-hiden {
    opacity: 0;
  }
}
