.pagination {
  @include flexCenter();

  &__list {
    display: flex;
    padding: 8px;
  }

  & li {
    @include flexCenter();

    height: 36px;
    width: 36px;
    border-radius: 5px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    list-style: none;
    text-align: center;
    cursor: pointer;

    @include transition();
  }

  &__arrow {
    background-color: #79767671;
    margin-left: 5px;
    margin-right: 5px;

    &--prev {
      @include flexCenter;
      background-image: url('../images/arrow-left.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    &--next {
      @include flexCenter;
      background-image: url('../images/arrow-right.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  li.pagination__dots,
  li.pagination__numb-first,
  li.pagination__numb-last {
    display: none;

    @include tablet {
      display: flex;
    }
  }

  &__numb.active,
  &__numb:hover,
  &__numb:focus,
  &__arrow:hover,
  &__arrow:focus,
  &__numb-first:hover,
  &__numb-first:focus,
  &__numb-last:hover,
  &__numb-last:focus {
    background-color: $accentBg-color;
  }

  &.is-hidden {
    display: none;
  }
}
