.footer_box {
  background-color: $mainBg-color;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 30px 0 30px 0;
}
.footer_text {
  color: $footer-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  @include tablet {
    font-size: 16 px;
    line-height: 1.15;
  }
}
.footer-text__big {
  color: $footer-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.footer-text__smol {
  color: $footer-text-color;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.14;
}
.footer_link {
  text-decoration: none;
}

.footer_link:hover,
.footer_link:focus {
  text-decoration: underline;
  color: $secondary-text-color;
}
.is-hidden {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-footer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal-footer__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 80%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  .modal-footer.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  top: 8px;
  right: 8px;
}

.footer__icon {
  fill: #000000;
}
.footer__icon {
  fill: #000000;
  &:focus,
  :hover {
    fill: #ff6b01;
  }
}
.vl {
  border-left: 1px solid $footer-text-color;
  height: 7px;
}
.team {
  gap: 10px;
  color: $mainBg-color;
  background: #f7f5f5;
  padding: 20px;
}
.team-box {
  display: flex;
  flex-direction: column;
  @include tablet {
    width: calc((100% - 30px) / 2);
    flex-wrap: wrap;
  }
  @include desktop {
    width: calc((100% - 90px) / 3);
  }
}
.team__title {
  color: $secondary-text-color;
  font-size: 16 px;
  line-height: 1.15;
  text-align: center;
}
.team__list {
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px 30px;
  @include tablet {
    width: calc((100% - 30px) / 2);
    flex-wrap: wrap;
  }
  @include desktop {
    width: calc((100% - 90px) / 3);
  }
}
.team__card {
  display: flex;
  flex-direction: column;
  background-color: #f7f5f5;
}

.about {
  text-align: center;
  padding: 10px 10px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  .team__card & {
    display: flex;
    flex-direction: column;

    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.team__foto {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.team__card .team__foto {
  overflow: hidden;
}
.networks {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.networks__list {
  width: 44px;
  height: 44px;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.networks__link {
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: $footer-text-color;

  &:hover,
  &:focus {
    background-color: #ff6b01;
    color: #ffffff;
  }
}

.networks__icon {
  fill: $footer-text-color;
}
