.footer_box {
  background-color: $mainBg-color;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 30px 0 30px 0;
}
.footer_text {
  color: $footer-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  @include tablet {
    font-size: 16 px;
    line-height: 1.15;
  }
}
.footer-text__big {
  color: $footer-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.footer-text__smol {
  color: $footer-text-color;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.14;
}
.footer_link {
  text-decoration: none;
}

.footer_link:hover,
.footer_link:focus {
  text-decoration: underline;
  color: $secondary-text-color;
}
.is-hidden {
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-footer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  overflow: auto;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal-footer__box {
  margin: 0 auto;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 80%;
  background: #f7f5f5;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  .modal-footer.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.footer__button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #0000001a;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 0;
  right: 12%;
  top: 2%;
  display: flex;
  position: absolute;
}

.footer__icon {
  fill: #000000;
}
.footer__icon {
  fill: #000000;
  &:focus,
  :hover {
    fill: #ff6b01;
  }
}
.vl {
  border-left: 1px solid $footer-text-color;
  height: 7px;
}
.team-footer {
  gap: 10px;
  color: $mainBg-color;
  background: #ffffff;
  width: auto;
  height: auto;
  padding: 20px;
}
.team-footer__box {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: auto;
  gap: 32px;

  @include tablet {
    grid-template-columns: auto auto;
    padding: 0 32px;
  }

  @include desktop {
    grid-template-columns: auto auto auto;
  }
}
.team-footer__title {
  color: $secondary-text-color;
  font-size: 36px;
  line-height: 1.15;
  text-align: center;

  @include tablet {
    font-size: 58px;
    line-height: 1.5;
  }

  @include desktop {
    font-size: 70px;
    line-height: 1.8;
  }
}
.team-footer__list {
  margin-left: auto;
  margin-right: auto;
  padding: 50px 20px 30px;
}
.team-footer__card {
  display: flex;
  flex-direction: column;
  background-color: #f7f5f5;
}

.about-footer {
  text-align: center;
  padding: 10px 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-footer__foto {
  width: auto;
  aspect-ratio: 3/4;
}
// .team-footer__card .team-footer__foto {
// }
.networks-footer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.networks-footer__list {
  width: 44px;
  height: 44px;
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.networks-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: $footer-text-color;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color: #ff6b01;
  }
}

.networks-footer__icon {
  fill: $footer-text-color;
}
