.header__section {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 89px;
  padding-top: 42px;
  opacity: 0.9;
  background-image: url(../images/header-background-img-home/header-bcgrd-mobile1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include retina {
    background-image: url(../images/header-background-img-home/header-bcgrd-mobile2x.jpg);
  }
  @include tablet {
    padding-top: 40px;
    padding-bottom: 81px;
    background-image: url(../images/header-background-img-home/header-bcgrd-tablet1x.jpg);
    @include retina {
      background-image: url(../images/header-background-img-home/header-bcgrd-tablet2x.jpg);
    }
  }
  @include desktop {
    background-image: url(../images/header-background-img-home/header-bcgrd-desktop1x.jpg);
    @include retina {
      background-image: url(../images/header-background-img-home/header-bcgrd-desktop2x.jpg);
    }
  }
}

.header__logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    text-shadow: 0px 1px 2px #ffffff;
    transform: scale(1.1);
  }
  @include tablet {
    height: 35px;
  }
}
.header__logo-text {
  display: none;
  @include tablet {
    display: block;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    align-items: center;
    text-align: center;
    color: #ffffff;
    margin-left: 10px;
  }
}
.header__nav-wrap {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  align-items: baseline;
  margin-left: auto;
  height: 100%;
  // margin-top: 10px;
  height: 20px;
}

.header__nav-item {
  cursor: pointer;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  &:not(:first-child) {
    margin-left: 40px;
  }
  &:hover,
  &:focus {
    text-shadow: 0px 2px 2px #ffffff;
    transform: scale(1.15);
  }
}
.header__nav-button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;

  &::after {
    content: '';
    width: 100%;
    height: 3px;
    display: block;
    background-color: #ff001b;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 260ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }
}

.header__nav-button--current::after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  background-color: #ff001b;
  left: 0;
  bottom: 0;
  transform: scaleX(1);
}

.header__home-wrap {
  padding-top: 49px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include tablet {
    padding-top: 40px;
  }
}
.toggle-theme {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 0;
  bottom: 29px;
  margin-top: 0px;
  color: $mainBg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  &:hover,
  &:focus {
    background-color: $hover-focusBG-color;
    box-shadow: 0px 8px 22px rgba(255, 107, 1, 0.6);
  }
  @include tablet {
    bottom: 0;
    height: 40px;
    width: 40px;
  }
}
.toggle-theme-mylibrary {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 0;
  bottom: 55;
  margin-top: 0px;
  color: $mainBg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accentBg-color;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  &:hover,
  &:focus {
    background-color: $hover-focusBG-color;
    box-shadow: 0px 8px 22px rgba(255, 107, 1, 0.6);
  }
  @include tablet {
    bottom: 4;
    height: 40px;
    width: 40px;
  }
}

.header__search-form {
  position: relative;
  // display: flex;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  @include tablet {
    width: 336px;
  }
  @include desktop {
    width: 394px;
  }
}

.wrap-input {
  margin-bottom: 10px;
}

.header__input {
  position: relative;
  width: 100%;
  height: 19px;
  color: #ffffff;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0.5px solid rgba(255, 255, 255, 1);

  &::placeholder {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14px;
  }
}

.header__input--year {
  width: 70px;
}

.header__form-submit-btn {
  position: absolute;
  right: 0;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

//Це тільки частина header(My Library)
.header__section--mylibrary {
  padding-bottom: 65px;
  padding-top: 42px;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: url(../images/header-background-img-mylibrary/mylibrary-mobile-x1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include retina {
    background-image: url(../images/header-background-img-mylibrary/mylibrary-mobile-x2.jpg);
  }
  @include tablet {
    padding-top: 40px;
    padding-bottom: 57px;
    background-image: url(../images/header-background-img-mylibrary/mylibrary-tablet-x1.jpg);
    @include retina {
      background-image: url(../images/header-background-img-mylibrary/mylibrary-tablet-x2.jpg);
    }
  }
  @include desktop {
    background-image: url(../images/header-background-img-mylibrary/mylibrary-desktop-x1.jpg);
    @include retina {
      background-image: url(../images/header-background-img-mylibrary/mylibrary-desktop-x2.jpg);
    }
  }
}
.header__mylibrary {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.header__mylibrary-btn {
  min-width: 130px;
  height: 44px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  &:last-child {
    margin-left: 20px;
    @include tablet {
      margin-left: 32px;
    }
  }
  @include tablet {
    min-width: 152px;
  }
}

.header__mylibrary-btn--active {
  background: #ff6b01;
  border: none;
}
.header__mylibrary .toggle-theme {
  bottom: 65;
  @include tablet {
    bottom: 15;
  }
}

.icon-sun,
.icon-brightness {
  &.is-hiden {
    display: none;
  }
}
