.error-img {
  display: none;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.error-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 1.2;
  margin-top: 30px;
}
